body { margin:0;padding:0;font-family: 'Roboto Slab', serif; }

/* Меню*/
#nav {
  box-sizing:border-box;-moz-box-sizing:border-box; 
  position:fixed;
  z-index:3;
  top:0;
  width:100%;
}

ul {
  list-style: none; 
  margin: 0; 
  padding-left: 0; 
  background:#4a474c; 
  height: 50px; 
}

#nav a  {
  text-decoration: none; 
  background:#4a474c; 
  color:#DFE0FA; 
  padding:0px 30px; 
  font-family: arial;
  line-height:50px; 
  display: block; 
  border-left: 1px solid #DFE0FA; 
  -moz-transition: all 0.3s 0.01s ease; 
  -webkit-transition: all 0.3s 0.01s ease;

}

#nav a:hover {
  background:#DFE0FA;
  color:#3C2828;
}

li {
  float:right; 
}

/* Форма подписки */
.subscribe {
  background: rgba(0, 0, 0, 0.65);
  padding:10px;
  display: inline-block;
  border-radius: 3px;
}  

.parallax {
  position:relative;
  z-index:1;
  height:600px;
  text-align:center;
  box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;
}

#trans1 {
  background: url(../src/beach-1236581_1280.jpg) no-repeat fixed;
  height:100vh;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#trans2 {

  background: url(../src/winding-road-1556177_1280.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   
}

#trans3 {
  background: url(../src/architecture-3121009_1280.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
.tour { 
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  padding-bottom: 20px;
}

/*Анимация картинок*/
.box {
  background-color: red;
  margin: 0 auto;
  display: inline-block;
  margin: 10px;
  width: 200px;
  position: relative;
  background: linear-gradient(20deg, #f00, #00f);
  overflow: hidden;
}

.box a{
 display: block;
 color: #fff;
 text-decoration: none;
}
.box a img{
 width: 100%;
}

.box-text{
 position: absolute;
 top: 0;
 left: 0;
 padding: 20px;
 opacity: 0;
 z-index: 100;
 transition: .5s ease;
}
.box-text h3{
 font-size: 18px;
}
.box-text p{
 font-size: 12px;
}

.box a:before,
.box a:after{
 content: '';
 position: absolute;
 width: 200%;
 height: 200%;
 transition: .5s ease-in-out;
 mix-blend-mode: darken;
}
.box a:before{
 right: 0;
 bottom: -100%;
 background: rgba(230, 12, 50, 0.8);
 transform: skew(-45deg) translateX(100%);
}
.box a:after{
 left: 0;
 top: -100%;
 background: rgba(11, 72, 174, 0.8);
 transform: skew(135deg) translateX(-100%);
}
.box:hover a:before{
 transform: skew(-45deg) translateX(0%);
}
.box:hover a:after{
 transform: skew(135deg) translateX(0%);
}
.box:hover .box-text{
 opacity: 1;
 color:#fff;
}

.txt {
  font-family: 'Roboto Slab', serif;
  font-size:50px;
  line-height:175%;
  letter-spacing:1.5px;
  color:#000;
  text-align:center;
  padding:150px 10px 0 0 ;
}

.content {
  box-sizing:border-box;-moz-box-sizing:border-box;
  position:relative;
  z-index:2;
  width:100%;
}
.white {
  color:#fff;
}
.right{
  color:#000;
  padding: 20px 100px;
  font-style: italic;
  font-size: 12px;
  text-align:center;
  line-height:180%;
}

/*ссылка с анимацией*/
.wrapper {
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  font-weight: 100;
  padding: 30px;
}
a {
  color: #000;
  text-decoration: none;
}
a span {
  font-weight: 100;
  transition: all 0.5s;
  border-bottom: 1px solid;
}
a span:nth-child(2) {
  transition-delay: 0.1s;
}
a span:nth-child(3) {
  transition-delay: 0.2s;
}
a span:nth-child(4) {
  transition-delay: 0.3s;
}
span:nth-child(5) {
  transition-delay: 0.4s;
}
a:hover span {
  font-weight: 700;
}
a:hover span:nth-child(5) {
  transition-delay: 0.4s;
}
a:hover span:nth-child(4) {
  transition-delay: 0.3s;
}
a:hover span:nth-child(3) {
  transition-delay: 0.2s;
}
a:hover span:nth-child(2) {
  transition-delay: 0.1s;
}
a:hover span:nth-child(1) {
  transition-delay: 0s;
}
a.hover-shadow:hover {
  text-shadow: 1px 1px 0px #ddd, 2px 2px 0px #ddd, 3px 3px 0px #ddd;
}
a.hover-color:hover {
  border-color: darkmagenta;
}

#footer {
  text-align: center;
  padding: 20px 0 20px;
  box-sizing:border-box;-moz-box-sizing:border-box;
  position:relative;
  z-index:2;
  background-color: #4a474c; 
  width:100%;
  height:auto;
  margin:0;

}

@media(max-width:767px){
  .trans1, .trans2, .trans3 {
    background-attachment:scroll;
    display:none;
  }
}